[submodule "nvim"]
	path = nvim
	url = git@github.com:aron-hoogeveen/.dotfiles-nvim.git
	branch = dev
[submodule "hypr"]
	path = hypr
	url = git@github.com:aron-hoogeveen/.dotfiles-hypr.git
	branch = dev
[submodule "waybar"]
	path = waybar
	url = git@github.com:aron-hoogeveen/.dotfiles-waybar.git
	branch = dev
